PORT=3000
WEBTEX_SECRET=change-this-secret-in-production

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=webtex
DB_PASSWORD=webtex
DB_NAME=webtex
DB_CONNECT_TIMEOUT_MS=5000

DATA_DIR=./data/projects
PUBLIC_DIR=./public
COOKIE_SECURE=false
MAX_BODY_MB=25
